::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
}

#root {
  max-height: 100vh;
  max-width: 100%; 
  margin: 0 auto;
}

.logo-circle {
  position: fixed;
  z-index: -1;
  top: 15px;
  left: 5px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #0EBEDF;
}

.logo {
  position: fixed;
  max-width: 350px;
  max-height: 168px;
  padding: 20px;
  
}

.container {
  display: grid;
  position: relative;
  top: 200px;
  left: 90px;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  margin: auto;
  overflow-y: scroll;
  max-height: 65%;
  max-width: 70%;

}

.card {
  margin: 1rem;
  border: .5px solid black;
  background-color: #ffffff;
  max-width: 400px;
  max-height: 400px;
  box-shadow: 2px 2px 8px #0EBEDF, 10px 10px 8px #c2c2c2, 15px 15px 8px #ffffff;
  padding: 40px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #0EBEDF;
}

p {
  display: none;
  color: #916A72;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}